footer { 
    text-align: center; 
    padding: 1rem; 
    background-color: #1b1212; 
    color: white; 
}
:host {
    display: block;
    background: var(--gray-700);
    color: white;
    padding: 1rem;
    text-align: center;
  }
  a{
    font-weight: bold;
    color: rgb(185, 20, 20);
  }
  .email{
    font-weight: bold;
    color: rgb(19, 16, 193);
  }