.app-navbar,



.app-footer {
    width: 100%;
    margin: 0;   /* Ensure no unwanted space */
    padding: 0;  /* Remove padding */
}

.top-container {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
}

.header {
    padding: 0px 16px;
    background: #211296;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.hero01-image {
    background-image: url('/assets/images/dctech.jpg') !important; /* Ensure the correct image path */
    background-size: cover;   /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    width: 100%;              /* Full width */
    height: 30vh;            /* Makes the height fill the entire viewport height */
    position: relative;       /* Allows positioning of child elements */
    margin: 0;                /* Remove any margin around the hero image */
    padding: 0;               /* Remove padding if any */
}
main[_ngcontent-ng-c3310111231] {
  flex: 1;
  width: 100%;
  /* padding: 1rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

